<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY9yHONn8w0Q21M_vr8cLVchdr2DWYp4c</string>
	<key>GCM_SENDER_ID</key>
	<string>907131740314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evan.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-6d3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-6d3b3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907131740314:ios:38482b7ab94d89d4a87f23</string>
</dict>
</plist>